<a href="https://colab.research.google.com/github/arianab68/GoogleColab/blob/master/1_8_21python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

For Loops

In [1]:
for x in 'cuny':
  print(x)

c
u
n
y

In [29]:
familymembers = ['mom', 'dad', 'brother', 'sister', 'grandma', 'grandpa', 'aunt', 'uncle', 'dog', 'cat', 'cousin', 'stepbrother', 'stepsister', 'stepmom', 'stepdad', 'greatgrandmother', 'greatgrandfather', 'godfather', 'nephew', 'niece' ]
for members in familymembers:
  print(" Hi my name is " + members + ".")

 Hi my name is mom.
 Hi my name is dad.
 Hi my name is brother.
 Hi my name is sister.
 Hi my name is grandma.
 Hi my name is grandpa.
 Hi my name is aunt.
 Hi my name is uncle.
 Hi my name is dog.
 Hi my name is cat.
 Hi my name is cousin.
 Hi my name is stepbrother.
 Hi my name is stepsister.
 Hi my name is stepmom.
 Hi my name is stepdad.
 Hi my name is greatgrandmother.
 Hi my name is greatgrandfather.
 Hi my name is godfather.
 Hi my name is nephew.
 Hi my name is niece.

In [31]:
familymembers = ['mom', 'dad', 'brother', 'sister', 'grandma', 'grandpa', 'aunt', 'uncle', 'dog', 'cat', 'cousin', 'stepbrother', 'stepsister', 'stepmom', 'stepdad', 'greatgrandmother', 'greatgrandfather', 'godfather', 'nephew', 'niece' ]
print(familymembers[0:3])
print(familymembers[2:4])
print(familymembers[:3])
print(familymembers[2:])
print(familymembers[-2:])
print(familymembers[5:8])
print(familymembers[-5:])
print(familymembers[:4])
print(familymembers[0:7])
print(familymembers[:10])

['mom', 'dad', 'brother']
['brother', 'sister']
['mom', 'dad', 'brother']
['brother', 'sister', 'grandma', 'grandpa', 'aunt', 'uncle', 'dog', 'cat', 'cousin', 'stepbrother', 'stepsister', 'stepmom', 'stepdad', 'greatgrandmother', 'greatgrandfather', 'godfather', 'nephew', 'niece']
['nephew', 'niece']
['grandpa', 'aunt', 'uncle']
['greatgrandmother', 'greatgrandfather', 'godfather', 'nephew', 'niece']
['mom', 'dad', 'brother', 'sister']
['mom', 'dad', 'brother', 'sister', 'grandma', 'grandpa', 'aunt']
['mom', 'dad', 'brother', 'sister', 'grandma', 'grandpa', 'aunt', 'uncle', 'dog', 'cat']

Loops with Numbers

In [5]:
for num in range (1,10):
  print(num)

1
2
3
4
5
6
7
8
9

Print out the odd numbers

Print out odd number with user input

In [14]:

num = int(input("Enter a number: "))
if num%2 != 0: # if the number is not divisible by 2 then it is not = to 0 meaning it is odd.
    print("This is an odd number!")
else:
    print("This is an even number!")

Enter a number: 2
This is an even number!

In [16]:
number = int(input("Enter a number: "))
if number%2 == 0:
  print(f"{number} in even") #f string
else:
  print("{0} is Odd".format(number))

Enter a number: 44
44 in even

Write a script to print out a list of prime numbers

In [25]:
n = int(input("Enter a number greater than 1. "))
Match = True #a way to check every number

for num in range (2,n):
  n%num
if n%num == 0:
      Match =  False

if Match:
      print("num is prime.")
else:
      print("num is not prime. ")

Enter a number greater than 1. 2
num is not prime.

In [17]:
[2 * 3 * 4 + 1] = prime #format of a prime number, a prime number is a number that can only be divided by itself and 1

[24]

In [27]:
for num in range (2,101): # for the numbers within the range 
  # num % i produces the remainder when num is divided by i.
  # The all method returns True when all elements are true.
  if all (num%i != 0 for i in range (2,num)): #if num % i is not equal to 0, then for i in the range (2,num) print num
    print(num) #prints the num

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97